<h2> List of movies </h2>

<ul>
<% movies.forEach(movie => { %>
  <%= movie.title %> - <a href="/movies/<%= movie.id %>"> Info </a>
- <a href="/movies/<%= movie.id %>/delete"> Delete </a>
- <a href="/movies/<%= movie.id %>/edit"> Edit </a>
<% }) %>
</ul>
<p>
<a href="/movies/new">Add new movie</a>
